
.text_part{
    display: flex;
    justify-content: space-between;
}
.text-common{
    width: 33%;
    /* border: 2px solid red; */
}
.text{
    border: 2px solid green;
    text-align: center;
    margin: 10px ;
}
.text-1{
    padding: 40px;
}
.text-2{
    padding: 60px;
}

.text-3{
    display: none;
}
.text-4{
    padding: 60px;
}
.text-5{
    padding: 10px;
}
.text-6{
    display: none;
}
.text-7,.text-8{
    padding: 40px;
}

@media(max-width:1000px) {
    .text-3,
    .text-6{
              display: block;
              padding: 40px;
    }
    .text-third{
        display: none;
    }
    .text-common{
        width: 50%;
    }
}



